.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.logo {
  width: 200px;
}

.wip {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 200;
  text-align: center;
}

.paper-right {
  width: 600px;
  position: absolute;
  right: -250px;
  bottom: -250px;
  transform: rotate(125deg);
}

.paper-left {
  width: 600px;
  position: absolute;
  left: -280px;
  top: -280px;
  transform: rotate(-220deg);
}